
body{
   height: 100vh;
}

#root{
   display: flex;
   flex-direction: column;
   height: 100%;
}

nav{
   background-color: var(--color-primary);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 2.5rem;
   gap: 0.5rem;
}
nav a{
   text-decoration: none;
}
nav a:hover{
   color: var(--color-text);
}

footer{
   background-color: var(--color-primary);
   min-height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

section{
   background-color: var(--color-primary-tint);
   flex: 1;
   padding: 1rem 0.8rem;
}