
body{
   height: 100vh;
}

#root{
   display: flex;
   flex-direction: column;
   height: 100%;
}

nav{
   background-color: var(--color-primary);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 2.5rem;
   gap: 0.5rem;
}
nav a{
   text-decoration: none;
}

footer{
   background-color: var(--color-primary);
   min-height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

section{
   background-color: var(--color-primary-tint);
   flex: 1;
   padding: 1rem 0.8rem;
}

@media (min-width: 700px){
   section{
      padding: 2rem 5rem;
   }
   *{
      font-size: 17.5px;
   }
}

@media (min-width: 1000px){
   section{
      padding: 2rem 12rem;
   }
}

@media (min-width: 1300px){
   section{
      padding: 2rem 22rem;
   }
}

@media (min-width: 1600px){
   section{
      padding: 2rem 30rem;
   }
}

@media (min-width: 1900px){
   section{
      padding: 2rem 42rem;
   }
}