#questions-container .manipulation-container{
   grid-column: 2;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 0.5rem;
}
#questions-container .manipulation-container svg{
   width: 1.4rem;
   height: auto;
   fill: var(--color-text);
   cursor: pointer;
}
#questions-container .manipulation-container .delete-button{
   fill: var(--color-button-delete);
}
#questions-container .manipulation-container .delete-button:hover{
   fill: var(--color-button-delete-shade);
}
#questions-container .manipulation-container .edit-button:hover{
   fill: var(--color-text-shade);
}


#edit-post{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#edit-post form{
   display: grid;
   gap: 0.5rem;
   margin-top: 2rem;
}
#edit-post form input[type="submit"]{
   justify-self: center;
}

#edit-post .question{
   border: 1px solid var(--color-text-shade);
}

#edit-post .manipulation-container{
   display: none;
}
