#questions{
   padding: 1rem 0.8rem;
}
#questions .questions-header{
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr;
   align-items: center;
   padding: 0.7rem;
}

#questions .ask-question-button{
   justify-self: flex-end;
}
#questions .filter{
   justify-self: flex-end;
}