#view-question{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#view-question .question .manipulation-container{
   display: none;
}

#view-question .answer-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   width: var(--global-width);
}
#view-question .answer-form textarea{
   border-radius: 0%;
}

/* Answer */
.answers-container{
   display: flex;
   flex-direction: column;
   background-color: var(--color-primary);
   padding: 0.2rem;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   width: var(--global-width);
   margin-top: 3rem;
}
.answer{
   display: grid;
   grid-template: max-content / 1fr max-content;
   padding: 0.4rem;
   word-break: break-all;
   gap: 0.5rem;
   border: 1px solid var(--color-primary-tint);
   padding: 0.5rem;
}

.answer .header-wrapper{
   display: grid;
   grid-template: 1fr / 1fr 1fr;
}
.answer .content{
   word-break: normal;
}
.answer .username{
   color: var(--color-text);
   justify-self: flex-end;
   grid-column: 2;
}

/* Answer owner */
.answer .owner-wrapper{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-self: flex-end;
}
.answer .owner-wrapper img{
   width: 3rem;
   height: 3rem;
   object-fit: cover;
   border-radius: 50%;
}