#view-question{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

#view-question .question{
   grid-template-rows: max-content / repeat(2, max-content);
}

#view-question .answer-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
}
#view-question .answer-form textarea{
   width: 100%;
   max-width: 100%;
}

/* Answer */
.answers-container{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.answer{
   display: grid;
   grid-template: max-content / 1fr max-content;
   padding: 0.4rem;
   word-break: break-all;
   gap: 0.5rem;
}
.answer .content-wrapper{
}

/* Answer owner */
.answer .owner-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: flex-end;
}
.answer .owner-wrapper img{
   width: 3rem;
   height: auto;
   object-fit: cover;
   border-radius: 50%;
}